<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>In Inventory</th>
      <th>New amount</th>
    </tr>
  </thead>
  <tbody>
    <%= render food_inventory_food_items %>
  </tbody>
</table>
      
