<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Category</th>
      <th>Base Unit</th>
      <th>Taxed?</th>
    </tr>
  </thead>
  <tbody>
    <%= render food_items %>
  </tbody>
</table>
