<table>
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Current Program</th>
      <th>Adults</th>
      <th>Youth</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @sites %>
  </tbody>
</table>
